@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#290a45, #000000 );
    background-size: 400% 400%;
    animation: gradientBackground 5s ease infinite;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin: auto;
}

button {
    background: #667eea;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

button:hover {
    background: #764ba2;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
